.main__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    .main__title-name {
        width: auto;
        height: 51px;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 51px;
        color: #000000;
    }

    .main__title-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
    }
}

.Services {
    padding-top: 140px;

    .Services-cont-cards {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .Services-cont-cards-string {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .Services-card-grey {
        background: #F3F3F3;
    }

    .Services-card-green {
        background: #B9FF66;
    }

    .Services-card-black {
        background: #191A23;
    }

    .Services-card-text-green {
        background: #B9FF66;
    }

    .Services-card-text-white {
        background: #FFFFFF;
    }

    .Services-card-link-white {
        color: #FFFFFF;
    }

    .Services-card-link-black {
        color: #000000;
    }
    

    .Services-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        height: 310px;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px #191A23;
        border-radius: 45px;
        padding: 50px 50px;
        
        .Services-card-info {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
        .Services-card-text {
            padding: 0px 7px;
            width: 221px;
            height: 38px;
            border-radius: 7px;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;
            color: #000000;
        }
        .Services-card-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .Services-notice {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .Services-notice__info {
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            gap: 26px;
        }

        .Services-notice__title {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;
            color: #000000;
        }

        .Services-notice__text {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }

        .Services-notice__button {
            width: 288px;
            height: 68px;
            background: #191A23;
            border-radius: 14px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            transition: 0.3s;
        } .Services-notice__button:hover {
            background: #F3F3F3;
            color: #000000;
            border: #FFFFFF;
            cursor: pointer;
        }
    }
}

.Case-Studies {
    margin-top: 140px;

    .Case-Studies__cont {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 70px 60px;
        gap: 64px;
        width: 1234px;
        height: 326px;
        background: #191A23;
        border-radius: 45px;
    }

    .Case-Studies__cont-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #FFFFFF;
    }

    .Case-Studies__cont-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
    }

    .Case-Studies__cont-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #B9FF66;
    }

    .Case-Studies__cont-line {
        width: 0;
        height: 186px;
        border: 1px solid #FFFFFF;
    }
}

.Our-Working-Process {
    padding-top: 140px;

    .Our-Working-Process__inner {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .Working-Process__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 41px 60px;
        gap: 30px;
        width: 1234px;
        height: auto;
        background-color: #F3F3F3;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px #191A23;
        border-radius: 45px;

        .Working-Process__box-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            gap: 352px; 
            width: 1117px;
            height: 77px;

            .Working-Process__box-title {
                display: flex;
                flex-direction: row;
                gap: 25px;
                align-items: center;

                .Working-Process__box-number {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 77px;
                    color: #000000;
                }

                .Working-Process__box-title-name {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 38px;
                    color: #000000;
                }
            }

            .Working-Process__box-button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 27px;
                border: none;
                width: 58px;
                height: 58px;
                cursor: pointer;
            } 
        }

        .Working-Process__box-line {
            width: 1114px;
            height: 0px;
            border: 1px solid #000000;
            
        }

        .Working-Process__box-content-text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }
    }

    .Working-Process__box-bottom {
        display: none;
        flex-direction: column;
        gap: 30px;
    }
}

.Team {
    padding-top: 140px;

    .Team__inner {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .Team-string {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .Team-block {
        width: 387px;
        height: 331px;
        background: #FFFFFF;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px #191A23;
        border-radius: 45px;
        padding: 40px 35px;

        .Team-top {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 20px;

        }

        .Team-info {
            display: flex;
            flex-direction: column;
        }

        .Team-prof {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }

        .Team-name {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }

        .Team-line {
            width: 317px;
            height: 0px;
            border: 1px solid #000000;
            margin: 28px 0;
        }

        .Team-text {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }
    }

    

    .Team-button {
        display: flex;
        justify-content: flex-end;
    }

    .Team-button button {
        width: 269px;
        height: 68px;
        background: #191A23;
        border-radius: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        transition: 0.3s;
    }

    .Team-button button:hover {
        background: #F3F3F3;
        border: #F3F3F3;
        color: #191A23;
        cursor: pointer;
    }
}

.Contact-Us {
    padding-top: 140px;

    .Contact-Us-block {
        width: 1240px;
        height: 773px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 80px;
        margin-bottom: 140px;
        padding: 60px 100px 80px;
        gap: 177px;
        background: #F3F3F3;
        border-radius: 45px;

        .Contact-write {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .check-radio {
            display: flex;
            flex-direction: row;
            gap: 35px;

            .Say-Hi {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 14px;
            }

            .Get-a-quote {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 14px;
            }
        
            .Say-Hi input, .Get-a-quote input {
                width: 28px;
                height: 28px;
            } 

            input[type='radio']:after {
                width: 28px;
                height: 28px;
                border-radius: 15px;
                background-color: #FFFFFF;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 1px solid #000000;
            }
        
            input[type='radio']:checked:after {
                width: 28px;
                height: 28px;
                border-radius: 15px;
                background-color: #B9FF66;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 1px solid #000000;
            }
        }

        .input-contact {
            display: flex;
            flex-direction: column;
            gap: 25px;

            .input-contact__write {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .input-contact-text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #000000;
                }

                input {
                    padding: 18px 30px;
                    gap: 10px;
                    width: 556px;
                    height: 59px;
                    background: #FFFFFF;
                    border: 1px solid #000000;
                    border-radius: 14px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                    color: #898989;
                }

                .Massage {
                    height: 190px;
                }
            }
        }

        .contact-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 35px;
            color: #FFFFFF;
            width: 556px;
            height: 68px;
            background: #191A23;
            border-radius: 14px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            transition: 0.3s;
        } .contact-button:hover {
            color: #000000;
            background: #B9FF66;
            border: #B9FF66;
            cursor: pointer;
        }
    }

}